# Entorno Virtual
venv/
.venv/
env/

# PyInstaller
build/
dist/
*.spec

# Datos generados
*.csv
*.pdf
*.ics

# Python (Archivos temporales)
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/
.vs/

# Otros
tmpc*