name: Crear Ejecutable Multiplataforma

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]

    steps:
      - name: Descargar código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt pyinstaller

      - name: Crear ejecutable PySide6
        shell: bash
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          echo "Generando versión: $VERSION"

          if [ "$RUNNER_OS" == "Windows" ]; then
            ICON="assets/icon.ico"
            NAME="Generador_Calendario_${VERSION}_Windows"

          elif [ "$RUNNER_OS" == "macOS" ]; then
            ICON="assets/icon.icns"
            NAME="Generador_Calendario_${VERSION}_macOS"

          else
            ICON="assets/icon.png"
            NAME="Generador_Calendario_${VERSION}_Linux"
          fi

          python -m PyInstaller \
            --onefile \
            --windowed \
            --clean \
            --collect-all PySide6 \
            --icon="$ICON" \
            --name "$NAME" \
            main.py

      - name: Crear Release en GitHub
        uses: softprops/action-gh-release@v1
        with:
          files: dist/*
          name: Release ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCES_TOKEN }}
